.communication-page {
	font-size:12px;
	padding:0 40px;
	color:rgb(68,68,68);
	line-height: 210%;
}

.communication-page > p {

	margin:15px 0 15px 0;
	text-align: justify;
}

.first-li {
	margin:12px 0 12px 16px;
}

.second-ul > li {
	margin:12px 0 12px 45px;
}

.second-ul > li > a:hover {
	text-decoration:underline;
}
