.notices-page {
	font-size:12px;
	padding:0 40px;
	color:rgb(68,68,68);
}

.notices-page > p {
	line-height: 210%;
	margin:10px 0 10px 0;
	text-align: justify;
}

.notices-page > div > p {
	line-height: 170%;
	text-align: justify;
}

.ctainer-left {
	float:left;
	margin:20px 20px 20px 0;
	width:200px;
}

.ctainer-right {
	float:left;
	margin:20px 0;
	width:638px;
}

.ctainer-right > p > a {
	color:rgb(80,80,152);
}

.ctainer-right > p > a:hover {
	text-decoration: underline;
}

.ctainer-right-less-margin {
	float:left;
	margin:0;
	width:638px;
}

.empty-left-ctainer {
	float:left;
	width:220px;
	height:1px;
}

.empty-right-ctainer {
	float:left;
	margin:0 0 20px 0;
	width:638px;
}
